body {
  background-color: #f2e9eb;
  /* color: #fedd89; */
}

.memos li {
  background-color: #dd8ea4;
}

input[type="text"],
input[type="text"]:focus {
  color: #31383f;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.container {
  max-width: 400px;
}

.hidden {
  display: none !important;
}

#alertmsg {
  color: var(--danger);
}

.delete:hover {
  cursor: pointer;
}

.filtered {
  display: none !important;
}
